.buy-now-button {
  width: 100%;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  background: linear-gradient(90deg, rgba(0, 102, 204, 1) 0%, rgba(0, 153, 255, 1) 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buy-now-button:disabled {
  cursor: not-allowed;
  background: #aaa;
}

.buy-now-button.available:hover {
  background: linear-gradient(90deg, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 204, 1) 100%);
  transform: scale(1.05);
}

.buy-now-button.unavailable {
  background: #aaa;
}

.buy-now-button.unavailable:hover {
  background: #aaa;
  transform: none;
}
